<div id="feedback" class="clearfix">
  <%= render :partial => 'recruits/feedback/feedback_form',
             :locals => {:activity => @recruit.current_activity} %>
  <% @recruit.activities.each do |activity| %>
    <% next unless activity.feedbacks.any? || activity.current? %>
    <div id="activity_<%= activity.id %>"
      class="activity <%= 'current_activity' if activity.current? %>">
      <%= render :partial => 'recruits/feedback/header',
                 :locals => {:activity => activity} %>
      <%= render :partial => 'recruits/feedback/list',
                 :locals => {:activity => activity} %>
    </div>
  <% end %>
</div>
