<div class="feedback_form clearfix">
  <% form_for(new_feedback(activity)) do |f| %>
    <%= f.hidden_field :recruit_id  %>
    <%= f.hidden_field :activity_id %>
    <%= f.hidden_field :employee_id %>

    <div class="guidelines">
      <h3>Scoring Guidelines</h3>
      <ul>
        <li><strong>&nbsp;2</strong> - I will run through a PETA rally wearing fur if it means we can hire <%= @recruit.first_name %>.</li>
        <li><strong>&nbsp;1</strong> - <%= @recruit.first_name %> is cool, I'm a solid yes.</li>
        <li><strong>&nbsp;0</strong> - Who's <%= @recruit.first_name %>? I like beans.</li>
        <li><strong>-1</strong> - I think hiring <%= @recruit.first_name %> is a Bad Idea™.</li>
        <li><strong>-2</strong> - Working with <%= @recruit.first_name %> would make me profoundly and inconsolably unhappy.</li>
      </ul>
    </div>
    <p>
      <%= f.text_area :body, :title => "What have you got to say?", :class => "hint" %>
    </p>
    <p>
      <%= f.text_field :summary, :class => :hint, :title => "Say that again, but like you're talking to a cat." %>
      <span class="score_field">
        <%= f.label :score %>
        <%= f.text_field :score, :class => "small" %>
      </span>
    </p>

    <%= f.submit "Give it to me straight" %>
  <% end %>
</div>
