<div id="feedback_form">
  <h2>Leave feedback about the  <%= activity.friendly_name %></h2>
  <% form_for(@feedback) do |f| %>
    <%= f.hidden_field :recruit_id  %>
    <%= f.hidden_field :activity_id %>
    <%= f.hidden_field :employee_id %>

    <p>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.label :summary %>
      <%= f.text_field :summary %>
    </p>
    <% if current_user.can_score?(activity) %>
      <p>
        <%= f.label :score %>
        <%= f.text_field :score %>
      </p>
    <% end %>

    <%= f.submit %>
  <% end %>
</div>
