<div id="header">
  <div id="header_content">
    <div class="menu">
      <% if current_user %>
        <%= link_to "New Recruit", new_recruit_path %> |
        <%= link_to "Log Out", logout_path %>
      <% end %>
    </div>
    <h1>
      <%= link_to "Chlorine", root_path %>
    </h1>
    <h2>
      Keeping your pool clean
    </h2>
  </div>
  <% if flash.any? %>
    <div id="flash_content">
      <% [:success, :notice, :failure].each do |message| %>
        <% if flash[message] %>
          <div id="flash" class="<%= message %>"><%= flash[message] %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
