<% form_for(activity, :url => activity_path(activity), :method => :put,
            :html => {:id => "schedule", :class => "clearfix"}) do |f| %>
  <p>
    <%= f.label :assigned_employee_ids, "Assign To" %>
    <% fields_for :assigned_employee_ids do |ef| %>
      <% employees = activity.underscored_name + "[employee_ids]" %>
      <%= select_tag employees,
               options_for_select(
                 employees_for_select_options,
                 activity.employees.map(&:id)),
               :multiple => true,
               :size => 3 %>
    <% end %>
  </p>
  <p>
    <%= f.label :scheduled_date, "Date" %>
    <script type="text/javascript">
      <% if activity.scheduled? %>
        DEFAULT_DATE = new Date("<%= activity.scheduled_date %>")
      <% else %>
        DEFAULT_DATE = ""
      <% end %>
    </script>
    <%= f.text_field :scheduled_date,
          :value => ((activity.scheduled_date.strftime("%D") if activity.scheduled?)),
          :id => 'datepicker' %><br />
    <%= f.label :time, "Time" %>
    <%= f.select :scheduled_hour,
                 hours_for_select,
                 :name => activity.underscored_name + "[scheduled_hour]",
                 :include_blank => true %>
    <%= f.submit schedule_text(activity) %>
  </p>
<% end %>
