<div id="feedback" class="clearfix">
  <% @recruit.activities.each do |activity| %>
    <% next unless activity.feedbacks.any? %>
    <h1><%= activity.friendly_name %> Feedback</h1>
    <ul>
      <% activity.feedbacks.each do |feedback| %>
        <li class="clearfix">
          <div class="name_and_score">
            <span class="name"><%=h feedback.employee.name %></span><br />
            <span class="score"><%= feedback.score %></span>
          </div>
          <%=h feedback.body %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if current_user.can_leave_feedback_for?(@recruit) %>
    <h2>Leave feedback for the  <%= @recruit.current_activity.friendly_name %></h2>
    <% form_for(Feedback.new) do |f| %>
      <%= f.hidden_field :recruit_id, :value => @recruit.id %>
      <%= f.hidden_field :activity_id, :value => @recruit.current_activity.id %>
      <%= f.hidden_field :employee_id, :value => 1 %>

      <p>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.label :score %>
        <%= f.text_field :score %>
      </p>

      <%= f.submit %>
    <% end %>
  <% end %>
</div>
