<% @page_title = h(@recruit.name) %>
<div id="info" class="clearfix">
  <h2><%= @recruit.status %></h2>
  <h3>Last Updated: <%= format_time(@recruit.activities.map(&:updated_at).max) %></h3>
  <p>
    <%= auto_link @recruit.email %><br />
    <%= phone(@recruit.phone) %><br />
  </p>
  <p>
    Wants to be a <b><%= @recruit.position %></b> when they grow up.<br />
    <b>Referrer:</b> <%=h @recruit.referrer %><br />
    <b>How we found them:</b> <%=h @recruit.how_found %><br />
  </p>
</div>
