<% @page_title = h(@recruit.name) %>
<div id="info" class="clearfix">
  <h2><%= @recruit.status %></h2>
  <h3>Last Activity: <%= @recruit.activities.map(&:updated_at).max.getlocal %>
  <p>
    <%= auto_link @recruit.email %><br />
    <%=h @recruit.phone %><br />
  </p>
  <p>
    <b>Referrer:</b> <%=h @recruit.referrer %><br />
    <b>How we found them:</b> <%=h @recruit.how_found %><br />
  </p>
</div>
