<% @page_title = h(@recruit.name) %>
<div id="info" class="clearfix">
  <h2><%= @recruit.status %></h2>
  <h3>Last Updated: <%= @recruit.activities.map(&:updated_at).max.getlocal.strftime("%B %d, %I:%M%p") %></h3>
  <p>
    <%= auto_link @recruit.email %><br />
    <%= phone(@recruit.phone) %><br />
  </p>
  <p>
    <b>Referrer:</b> <%=h @recruit.referrer %><br />
    <b>How we found them:</b> <%=h @recruit.how_found %><br />
  </p>
</div>
