<% if recruits.any? %>
  <table class="recruits tablesorter">
    <thead>
      <tr>
        <th>Name</th>
        <th>Stage</th>
        <th>Assigned To</th>
        <th>Next Scheduled</th>
        <th>Last Activity</th>
      </tr>
    </thead>
    <% recruits.each do |recruit| %>
      <tr class="<%= recruit.current_activity.pipeline_stage %>">
        <td><%= link_to h(recruit.name), recruit%></td>
        <td>
          <span class="sort_data">
            <%= Activity::ACTIVITIES.index(recruit.current_activity.class) %>
          </span>
          <%= recruit.current_activity.friendly_name %>
        </td>
        <td>
          <span class="sort_data">
            <%= assigned_to_sort_data(recruit.current_activity) %>
          </span>
          <%= employees_assigned_to(recruit.current_activity) %>
        </td>
        <td><%= format_time(recruit.current_activity.scheduled_time) %></td>
        <%- active_time = recruit.activities.map(&:updated_at).max -%>
        <td class="<%= days_ago_class(active_time) %>">
          <%= format_time(active_time) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
