<% @page_title = "Recruits" %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Next Scheduled</th>
    <th>Last Activity</th>
  </tr>

  <% @recruits.each do |recruit| %>
    <tr>
      <td><%= link_to h(recruit.name), recruit%></td>
      <td><%= mail_to recruit.email %></td>
      <td><%= phone(recruit.phone) %></td>
      <td><%= format_time(recruit.current_activity.scheduled_time) %></td>
      <td><%= format_time(recruit.activities.map(&:updated_at).max) %></td>
    </tr>
  <% end %>
</table>
