<h1>Listing recruits</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>

<% @recruits.each do |recruit| %>
  <tr>
    <td><%=h recruit.name %></td>
    <td><%=h recruit.email %></td>
    <td><%=h recruit.phone %></td>
    <td><%= link_to 'Show', recruit %></td>
    <td><%= link_to 'Edit', edit_recruit_path(recruit) %></td>
    <td><%= link_to 'Destroy', recruit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recruit', new_recruit_path %>