<% @page_title = "Recruits" %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>

  <% @recruits.each do |recruit| %>
    <tr>
      <td><%= link_to h(recruit.name), recruit%></td>
      <td><%= mail_to recruit.email %></td>
      <td><%= phone(recruit.phone) %></td>
      <td><%= link_to 'Edit', edit_recruit_path(recruit) %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New recruit', new_recruit_path %>
