<% @page_title = "New Recruit" %>

<% form_for(@recruit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :referrer %>
    <%= f.text_field :referrer %>
  </p>
  <p class="multiline">
    <%= f.label :how_found, "How did we find them?" %>
    <%= f.text_area :how_found %>
  </p>
  <p>
    <%= f.submit "Create", :class => "massive_button" %>
  </p>
<% end %>
